/*==== Div Container for JS ====*/
#peopleSearchContainer {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
    justify-content: center;
}


#peopleContainer {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 45px;
    text-align: center;
    justify-content: center;
}

/*==== Card Styling - FilmDiv ====*/
#pCard {
    border: 1px solid white;
    padding: 5px;
}