/*==== Div Container for JS ====*/
#peopleSearchContainer {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
    justify-content: center;
}

#peopleSearchContainer p {
    width: 850px;
}

#peopleContainer {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
    justify-content: center;
}

/*==== Card Styling - FilmDiv ====*/
/* #pCard img:hover {
    box-shadow: 2px 6px 8px rgba(43, 43, 43, 0.473);
    transform: translate3D(0, -2px, 0);
    transition: all 350ms ease-in-out;
}

@media screen and (min-width: 600px) {
    #pCard img {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    #pCard img {
    flex: 1 1 calc(33% - 2rem);
    }
} */