@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /*==== Colors ====*/
    --first-color: #7bccf4;
    --second-color: #5cbcf2;
    --third-color: #049beb;
    --text-color: #373737;
    --text-color-light: #828287;
    --text-color-white: #FFFFFF;
    --title-color: #272727;

    /*==== Font and typography ====*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Lora', serif;
    --title-font: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*==== Font weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/*==== BASE ====*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background: linear-gradient(var(--first-color), var(--third-color));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

h3 {
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*==== Studio Ghibli Banner ====*/
.ghibliBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.ghibliBanner img {
    max-height: 100%;
    max-width: 40%;
}

/*==== Navigation Bar ====*/
.navBar {
    letter-spacing: 0.04em;
    text-align: right;
    margin: 1rem 0 1rem 0;
}

.navMenu li {
    display: inline-block;
}

.navMenu li a, .navMenu li a:visited {
    color: var(--text-color-white);
    padding: 0.3em 0.6em;
}

.navMenu li a:hover {
    color: var(--text-color-white);
    text-decoration: underline;
}

/*==== Search Bar ====*/
.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__bar {
    display: flex;
    width: 20em;
    height: 1.2em;
    border-radius: 60px;
    background-color: var(--third-color);
    padding: 10px 20px;
}

.search__bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0px 10px;
    font-size: var(--normal-font-size);
    color: var(--text-color-white);
}

::placeholder {
    color: var(--text-color-white);
}

.search__bar button {
    border: 0;
    width: 25px;
    background: transparent;
    cursor: pointer;
}

.search__bar button i {
    font-size: 1rem;
    font-weight: initial;
    color: var(--text-color-white);
}

/*==== Div Container for JS ====*/
#searchContainer {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
    justify-content: center;
}

#searchContainer img {
    border-radius: 8%;
    float: left;
    margin: 20px;
}

#searchContainer p {
    width: 850px;
}

#container {
    padding: 1em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
    justify-content: center;
}

#container img {
    border-radius: 8%;
}

/*==== Card Styling - FilmDiv ====*/
#card img:hover {
    box-shadow: 2px 6px 8px rgba(43, 43, 43, 0.473);
    transform: translate3D(0, -2px, 0);
    transition: all 350ms ease-in-out;
}

@media screen and (min-width: 600px) {
    #card img {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    #card img {
    flex: 1 1 calc(33% - 2rem);
    }
}

/* STUDIO GHIBLI IMAGE */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*==== Footer ====*/
.footer__container {
    padding: 3rem 0 3rem;
    text-align: center;
}

.footer__text {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-white);
}

.footer__text a, .footer__text a:visited {
    color: var(--text-color-white);
}

.footer__text a:hover {
    text-decoration: underline;
}

.footer__copy {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-white);
}

/*==== SCROLL BAR ====*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(204, 4%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 55%);
}